<div class="container justify-content-center text-center">    
    <h3 class="colored">Welcome {{fullName}}</h3>
    <div class="user-icon">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </div>
    <h3>Your location is {{location}}</h3><br>
    <!-- <h3>Your interests are:</h3>
    <div class="interests" >
        <label class="item">Interest 1</label>
        <label class="item">Interest 3</label>
    </div><br> -->
    <div class="form-group text-center">
        <button type="submit" class="btn blogging" (click)="signout()"><strong>Sign out</strong></button>
    </div>
</div>