.container{
    width: 30%;
    margin-top: 15%;
}

.form-control{
    border-color: black;
    border-radius: 5px;
}

.forgot{
    text-align: right;
}

.signin{
    background-color: aqua;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
}

.signup{
    color: aqua;
    font-weight: 700;
    background-color: white;
    border: white;
}