<div class="container justify-content-center text-center">
    <h4>Hi {{fullName}}! Select your interest</h4><br>
    <form (submit)="next()">
        <div class="form-group text-center">
        <button type="button" class="btn interest"><strong>Interest 1</strong></button>
        <button type="button" class="btn interest"><strong>Interest 2</strong></button>
        <button type="button" class="btn interest"><strong>Interest 3</strong></button>
        <button type="button" class="btn interest"><strong>Interest 4</strong></button>
        </div><br>
        <div class="form-group text-center">
            <button type="submit" class="btn next"><strong>Next</strong></button>
        </div>
    </form>
</div>

